<html>
<title id="title">Lights</title>
<!--<script src="/Controller.js"></script>-->
<!--<script src="/header.js"></script>-->

<body class="mainBackground">
	<% if(owner) { %>
	<!--<script src="/ownerNav.js"></script>-->
	<% } else if(admin) { %>
	<!--<script src="/adminNav.js"></script>-->
	<% } else { %>
	<!--<script src="/userNav.js"></script>-->
	<% } %>
	<!--<script src="/sideBar.js"></script>-->
	<div align="center">
		<iframe width="0" height="0" border="0" name="dummyframe"
                id="dummyframe" style="width:0; height:0; border:none" ></iframe>
        <div>
            <br>
            <div >
                Light 1
                <div id="lightStatus1" ></div>
                <br><br><br><br>
                <form action="/open" target="dummyframe">
                    <input type="hidden" name="entry" value="OPENED: OVERRIDE BY UI" />
                    <br><input type="submit" value="OPEN" height="70" style="width: 100%;">
                </form>
                <form action="/close" target="dummyframe">
                    <input type="hidden" name="entry" value="CLOSED: OVERRIDE BY UI" />
                    <br><input type="submit" value="CLOSE" height="70" style="width: 100%;">
                </form>
            </div>
        </div>

		<br>
	</div>
</body>

</html>
